.repair-type {
    width: 392px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

@media screen and (max-width: 1300px) {
    .repair-type {
        width: 340px;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
}

@media screen and (max-width: 350px) {
    .repair-type {
        width: auto;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
}

.repair-type__image {
    width: 100%;
    height: auto;
}

.repair-type__container {
    -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    margin-top: -127px;
    width: 330px;
    background: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

@media screen and (max-width: 1300px) {
    .repair-type__container {
        width: 270px;
        margin-top: -142px;
        -webkit-box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05);
                box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05);
    }
}

@media screen and (max-width: 350px) {
    .repair-type__container {
        width: auto;
    }
}

.repair-type__title {
    margin-top: 24px;
    margin-left: 31px;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    text-transform: none;
}

@media screen and (max-width: 1300px) {
    .repair-type__title {
        margin-top: 21px;
        font-size: 15px;
        line-height: 138.6%;
    }
}

.repair-type__list {
    -webkit-padding-start: 18px;
            padding-inline-start: 18px;
    width: 267px;
    margin-left: 31px;
    margin-bottom: 49px;
}

@media screen and (max-width: 1300px) {
    .repair-type__list {
        width: auto;
    }
}

.repair-type__list li {
    font-size: 13px;
    line-height: 27px;
    color: #959595;
    text-transform: none;
}

.repair-type__button {
    width: 228px;
    height: 54px;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-top: -28px;
    margin-left: 31px;
    font-size: 18px;
    line-height: 25px;
    padding: 17px;
    font-family: 'Yeseva One';
    font-style: normal;
}

@media screen and (max-width: 1300px) {
    .repair-type__button {
        width: 190px;
        height: 40px;
        margin-top: -21px;
        margin-left: 0px;
        font-size: 15px;
        padding: 13px;
        line-height: 138.6%;
        -webkit-box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
                box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    }
}