.video {
    height: 434px;
    width: 817px;
    background-image: none;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

@media screen and (max-width: 1300px) {
    .video {
        width: 100%;
        height: auto;
        aspect-ratio: 1.6425;
    }
}


.video__overlay {
    background: rgba(0, 0, 0, 0.8);
}

.video__play {
    width: 85px;
    height: 85px;
    border: none;
    border-radius: 42.5px;
    background: #E3B873;
    -webkit-box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
            box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
    z-index: 1;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

@media screen and (max-width: 1300px) {
    .video__play {
        width: 37px;
        height: 37px;
        border-radius: 18.5px;
    }
}

.video__triangle {
    padding-left: 7px;
    padding-top: 6px;
}

@media screen and (max-width: 1300px) {
    .video__triangle {
        padding-left: 2px;
        padding-top: 1px;
        width: 12.19px;
        height: 12.19px;
    }
}